body {
  padding-top: 50px;
}

.navbar-brand {
  padding: 10px;
}

.navbar-brand>img {
  display: inline-block;
}

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-image: url(../images/background.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
}

.jumbotron .container {
  margin: auto;
}

.jumbotron .row div {
  padding: 0;
}

#row-1 img {
  width: 20%;
}

#row-2 img {
  width: 15%;
}

#row-2, #row-3 {
  text-align: right;
  margin-top: 2%;
}

#row-3 img {
  width: 18%;
}

.avatar {
  width: 150px;
}

.sideways {
  writing-mode: vertical-lr;
  height: 90vh;
}

.timeline-panel {
  writing-mode: initial;
}

.timeline {
  list-style: none;
  padding: 20px 0;
  position: relative;
}

.timeline:before {
  position: absolute;
  content: " ";
  height: 3px;
  width: 100%;
  background-color: #ccc;
  top: 48%;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  height: 46%;
  width: 40%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  left: 26px;
  bottom: -15px;
  display: inline-block;
  border-right: 15px solid transparent;
  border-top: 15px solid #ccc;
  border-bottom: 0 solid #ccc;
  border-left: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  left: 27px;
  bottom: -14px;
  display: inline-block;
  border-right: 14px solid transparent;
  border-top: 14px solid #fff;
  border-bottom: 0 solid #fff;
  border-left: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  writing-mode: initial;
  color: #fff;
  height: 40px;
  line-height: 40px;
  opacity: 0.6;
  font-size: 1em;
  text-align: center;
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -25px;
  background-color: #999999;
  z-index: 100;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-top-width: 0;
  border-bottom-width: 15px;
  top: -15px;
  bottom: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-top-width: 0;
  border-bottom-width: 14px;
  top: -14px;
  bottom: auto;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

.timeline-body .btn {
  margin-top: 10px;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}

/*
.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}

.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}
.carousel {
  background: #1a237e;
}
.carousel .item {
  height: 300px;
}
.carousel .item img {
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
}
.navbar-inverse {
  background: #303f9f;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}
*/
