
<div class="container">

   <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">About Us</li>
      </ul>
    </div>
  </div>

  <!-- Mission Statement -->
  <div class="row row-content center-block">
    <div class="col-xs-12 col-sm-8">
      <h2>Mission Statement</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora recusandae consequatur, laudantium exercitationem vitae voluptate dicta doloremque distinctio. Velit exercitationem incidunt debitis ab enim consequatur explicabo, error accusamus ipsam! Illum!</p>
      <p>Repellat dolorem magni architecto reiciendis omnis commodi molestiae, recusandae illum sunt necessitatibus, suscipit id officia odit assumenda! Illum necessitatibus vitae alias labore doloremque, a sit perferendis! Possimus, maiores saepe tenetur.</p>
      <p>Maiores eum, sunt nobis architecto eligendi hic asperiores enim voluptate ex nesciunt debitis maxime necessitatibus explicabo, obcaecati quaerat vitae, tempora nihil tempore. Nihil, eius voluptas explicabo soluta doloribus officiis praesentium!</p>
      <p>Delectus perspiciatis nisi nesciunt totam consectetur quae sequi suscipit maxime praesentium, odit in possimus et illum ullam quia sit debitis doloremque perferendis, quidem ipsam, unde. Molestias esse temporibus aut fuga.</p>
    </div>
  </div>

  <!-- Board -->
  <div class="row row-content">
    <div class="col-xs-12 col-sm-10 col-sm-push-1">
      <h2>Board of Directors</h2>
      <ul class="media-list">
        <li class="media" ng-repeat="leader in leaders">
          <div class="media-left media-middle">
            <a>
              <img class="media-object img-circle avatar" ng-src="../images/{{leader.image}}" alt="{{leader.name}}">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading">{{leader.name}}
            <small>{{leader.title}}</small></h3>
            <p>{{leader.bio}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
