<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Contact</li>
      </ul>
    </div>
  </div>

  <div class="row row-content">
    <div class="col-xs-12">
      <h3>Contact Info</h3>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
      <address>
        2F., No.1-1, Sec. 1, Xinhai Road<br>
        Zhongzheng Dist., Taipei City 100<br>
        Taiwan<br>
        <i class="fa fa-phone"></i>: +886 2 2674 5123<br>
        <i class="fa fa-fax"></i>: +886 2 2674 5123<br>
        <i class="fa fa-envelope"></i>: teles0424@yahoo.com.tw
      </address>
      <div class="btn-group" role="group" aria-label="...">
        <a type="button" class="btn btn-primary" href="tel:+886226745123"><i class="fa fa-phone"></i> Call</a>
        <a type="button" class="btn btn-success" href="mailto:teles0424@yahoo.com.tw"><i class="fa fa-envelope-o"></i> Email</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d903.8632792492234!2d121.52699652917168!3d25.018692414267644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a98ddbcce23b%3A0x669a78fd228b67c3!2sNo.+1%2C+Section+1%2C+Xinhai+Rd%2C+Zhongzheng+District%2C+Taipei+City%2C+Taiwan+100!5e0!3m2!1sen!2sus!4v1465667945745" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row row-content">
    <div class="col-xs-12">
      <h3>Contact Us</h3>
    </div>
    <div class="col-xs-12">
      <form class="form-horizontal" role="form" name="contactForm" ng-submit="sendMessage()" novalidate>
        <!-- Name Field -->
        <div class="form-group" ng-class="{ 'has-error' : contactForm.name.$error.required && !contactForm.name.$pristine }">
          <label for="name" class="col-sm-2 control-label">Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" ng-model="contact.name" required>
            <span ng-show="contactForm.name.$error.required && !contactForm.name.$pristine" class="help-block">Your name is required.</span>
          </div>
        </div>
        <!-- Email -->
        <div class="form-group" ng-class="{ 'has-error has-feedback' : contactForm.email.$invalid && !contactForm.email.$pristine }">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="contact.email" required>
            <span ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            <span ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="help-block">Enter a valid email address.</span>
            <span ng-show="contactForm.email.$error.required && !contactForm.email.$pristine" class="help-block">Enter a valid email address.</span>
          </div>
        </div>
        <!-- Message -->
        <div class="form-group">
          <label for="message" class="col-sm-2 control-label">Your Message</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="message" name="message" rows="12" ng-model="contact.message"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
