<div class="ngdialog-message">
  <div class="center-block">
    <h3>{{action}}</h3>
  </div>
  <div class="row">
    <form class="form-horizontal" ng-submit="eventAdmin()">
      <div class="form-group">
        <label for="title">Event Name</label>
        <input type="text" class="form-control input-sm" id="title" placeholder="Event Name" ng-model="event.title">
      </div>
      <div class="form-group">
        <label for="date">Event Date</label>
        <input type="date" class="form-control input-sm" id="date" ng-model="event.date">
      </div>
      <div class="form-group">
        <label for="description">Short Description</label>
        <textarea class="form-control" id="description" placeholder="Short Description of the Event" ng-model="event.description" rows="2" maxlength="200"></textarea>
      </div>
      <div class="form-group">
        <label for="detail">Event Details</label>
        <div text-angular ng-model="event.detail"></div>
      </div>
      <button type="submit" class="btn btn-info btn-sm">{{action}}</button>
      <button type="button" class="btn btn-default btn-sm" ng-click="closeThisDialog( 'Cancel')">Cancel</button>
    </form>
  </div>
</div>
