<div class="container">
  <!-- breadcrumb -->
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Event</li>
      </ul>
    </div>
  </div>
  <!-- Event -->
  <div class="row row-content">
    <div class="col-xs-12" ng-if="!showEvent">
      <h3>{{message}}</h3>
    </div>
    <div class="col-xs-12 sideways" ng-if="showEvent">
      <ul class="timeline">
        <li ng-repeat="event in events" ng-class-even="'timeline-inverted'">
          <div class="timeline-badge">{{event.date | date: "longDate"}}</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{event.title}}</h4>
            </div>
            <div class="timeline-body">
              <p>{{event.description}}</p>
              <a ui-sref="app.event.eventdetail({id: event._id})" class="btn btn-info pull-right">More Info</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
