<div class="container">
  <!-- Breadcrumb -->
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><a href="index.html#/event">Event</a></li>
        <li class="active">Event Detail</li>
      </ul>
    </div>
  </div>

  <div class="row row-content">
    <div class="col-xs-12" ng-if="!showEvent">
      <h3>{{message}}</h3>
    </div>
    <div class="col-xs-12" ng-if="showEvent">
      <button class="btn btn-xs btn-primary pull-right" type="button" ui-sref="app.event">
        All Events
      </button>
      <!-- Event Details -->
      <div class="page-header">
        <h1>{{event.title}} <small>{{event.date | date: "longDate"}}</small></h1>
      </div>
      <div ng-bind-html="event.detail"></div>
    </div>
  </div>
</div>
