<footer class="row-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a ui-sref="app">Home</a></li>
          <li><a ui-sref="app.aboutus">About</a></li>
          <li><a ui-sref="app.event">Event</a></li>
          <li><a ui-sref="app.publication">Publication</a></li>
          <li><a ui-sref="app.contactus">Contact</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-7">
        <h5>Address</h5>
        <address>
          <div class="col-xs-12 col-sm-6">
            2F., No.1-1, Sec. 1, Xinhai Road<br>
            Zhongzheng Dist., Taipei City 100<br>
            Taiwan
          </div>
          <div class="col-xs-12 col-sm-6">
            <i class="fa fa-phone"></i>: +886 2 2674 5123<br>
            <i class="fa fa-fax"></i>: +886 2 2674 5123<br>
            <i class="fa fa-envelope"></i>: teles0424@yahoo.com.tw
          </div>
        </address>
      </div>
      <div class="col-xs-12 col-sm-2">
          <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id=teles2004"><i class="fa fa-facebook"></i></a>
          <a class="btn btn-social-icon" href="mailto:teles0424@yahoo.com.tw"><i class="fa fa-envelope-o"></i></a>
      </div>
      <div class="col-xs-12">
        <p align=center>© Copyright 2015 TELES</p>
      </div>
    </div>
  </div>
</footer>
