<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="app">
        <img src="images/logo.svg" height=30>
        <img src="images/brand.png" height=30 alt="TELES">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a ui-sref="app.aboutus">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.event"><i class="fa fa-calendar"></i> Event</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.publication"><i class="fa fa-book"></i> Publication</a>
        </li>
<!--        <li ui-sref-active="active">-->
<!--          <a ui-sref="app.forum"><i class="fa fa-comments-o"></i> Forum</a>-->
<!--        </li>-->
        <li ui-sref-active="active">
          <a ui-sref="app.contactus"><i class="fa fa-envelope-o"></i> Contact</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" ng-if="admin">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gears"></i> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-if="stateis('app.event')">
              <a ng-click="openEventAdmin()">
              <span class="glyphicon glyphicon-file" aria-hidden="true"></span> New Event</a>
            </li>
            <li ng-if="stateis('app.event.eventdetail')">
              <a ng-click="openEventAdmin()">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Event</a>
            </li>
            <li ng-if="stateis('app.event.eventdetail')">
              <a ng-click="deleteEvent()">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Event</a>
            </li>
            <li ng-if="stateis('app.publication')">
              <a ng-click="openPubAdmin()">
              <span class="glyphicon glyphicon-file" aria-hidden="true"></span> New Publication</a>
            </li>
            <li ng-if="stateis('app.publication.pubdetail')">
              <a ng-click="openPubAdmin()">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Publication</a>
            </li>
            <li ng-if="stateis('app.publication.pubdetail')">
              <a ng-click="deletePub()">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Publication</a>
            </li>
            <li ng-if="stateis('app.contactus')"><a ng-click="showMsg()">
            <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> View Messages</a></li>
          </ul>
        </li>

        <li ng-if="!loggedIn">
          <a ng-click="openLogin()">
            <span class="glyphicon glyphicon-log-in"></span> Login
          </a>
        </li>
        <li ng-if="loggedIn">
          <a>{{username}}</a>
        </li>
        <li ng-if="loggedIn">
          <a ng-click="logOut()"><span class="glyphicon glyphicon-log-out"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Landing:  Only shows on home -->
<header class="jumbotron" ng-show="stateis('app')">
  <div class="container">
    <div class="row row-header">
      <div class="row" id="row-1">
        <div class="col-xs-6 col-sm-4 col-sm-push-1 col-lg-3 col-lg-push-1">
          <img src="images/1.svg" alt="社">
          <img src="images/2.svg" alt="團">
          <img src="images/3.svg" alt="法">
          <img src="images/4.svg" alt="人">
        </div>
      </div>
      <div class="row" id="row-2">
        <div class="col-xs-12 col-lg-11 col-lg-push-1">
          <img src="images/5.svg" alt="台">
          <img src="images/6.svg" alt="灣">
          <img src="images/7.svg" alt="小">
          <img src="images/8.svg" alt="學">
          <img src="images/9.svg" alt="語">
          <img src="images/10.svg" alt="文">
        </div>
      </div>
      <div class="row" id="row-3">
        <div class="col-xs-12 col-lg-9 col-lg-push-3">
          <img src="images/11.svg" alt="教">
          <img src="images/12.svg" alt="育">
          <img src="images/13.svg" alt="學">
          <img src="images/14.svg" alt="會">
        </div>
      </div>
    </div>
  </div>
</header>
