<div class="ngdialog-message">
  <div>
    <h3>Login </h3>
  </div>
  <div>
    <form ng-submit="doLogin()">
      <div class="form-group">
        <label class="sr-only" for="username">Username</label>
        <input type="text" class="form-control input-sm" id="username" placeholder="Username" ng-model="loginData.username">
      </div>
      <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        <input type="password" class="form-control input-sm" id="password" placeholder="Password" ng-model="loginData.password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="rememberMe"> Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-info btn-sm">Sign in</button>
      <button type="button" class="btn btn-default btn-sm" ng-click="closeThisDialog( 'Cancel')">Cancel</button> &nbsp; &nbsp;
      <a ng-click=openRegister()>Click here to register</a>
    </form>
  </div>
</div>
