<div class="ngdialog-message">
  <div>
    <h3>Messages</h3>
  </div>
  <!-- Messages -->
  <div ng-if="!showMsg">
    <h3>{{message}}</h3>
  </div>
  <div ng-if="showMsg">
    <div class="panel panel-default" ng-repeat="msg in msgs">
      <div class="panel-heading">
        <h3 class="panel-title">{{msg.name}}<small> {{msg.time | date:'medium'}} </small></h3>
      </div>
      <div class="panel-body">
        <p>{{msg.email}}</p>
        <p>{{msg.message}}</p>
      </div>
      <div class="panel-footer">
<!--        <button ng-click="toggleRead({{msg._id}})">{{msg.unread ? 'Mark as Read' : 'Mark as Unread'}}</button>-->
        <button ng-click="deleteMsg(msg._id)">Delete Message</button>
      </div>
    </div>
  </div>

</div>
