<div class="ngdialog-message">
  <div class="center-block">
    <h3>{{action}}</h3>
  </div>
  <div class="row">
    <form class="form-horizontal" ng-submit="pubAdmin()" name="pubForm">
      <div class="form-group">
        <label for="title">Publication Title</label>
        <input type="text" class="form-control input-sm" id="title" placeholder="Publication Title" ng-model="pub.title">
      </div>
      <div class="form-group">
        <label for="author">Author Name</label>
        <input type="text" class="form-control input-sm" id="author" placeholder="Author Name" ng-model="pub.author">
      </div>
      <div class="form-group">
        <label for="image">Cover Image</label>
        <input type="text" class="form-control input-sm" id="image" placeholder="Image file path" ng-model="pub.image">
      </div>

        <div class="form-group col-xs-6">
          <label for="label">Label</label>
          <input type="text" class="form-control input-sm" id="label" placeholder="Label (e.g. New, Limited, Out of Stock)" ng-model="pub.label">
        </div>
        <div class="form-group col-xs-6">
          <label for="label">Price</label>
          <input type="number" class="form-control input-sm" id="price" placeholder="Price" ng-model="pub.price">
        </div>

      <div class="form-group">
        <label for="description">Short Description</label>
        <textarea class="form-control" id="description" placeholder="Short Description of the Publication" ng-model="pub.description" rows="2" maxlength="200"></textarea>
      </div>
      <div class="form-group">
        <label for="detail">Event Details</label>
        <div text-angular ng-model="pub.detail"></div>
      </div>
      <button type="submit" class="btn btn-info btn-sm">{{action}}</button>
      <button type="button" class="btn btn-default btn-sm" ng-click="closeThisDialog( 'Cancel')">Cancel</button>
    </form>
  </div>
</div>
