<div class="container">
  <!-- Breadcrumb -->
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><a href="index.html#/publication">Publication</a></li>
        <li class="active">Publication Detail</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12" ng-if="!showPub">
      <h3>{{message}}</h3>
    </div>
    <div class="col-xs-12" ng-if="showPub">
      <div class="row">
        <button class="btn btn-xs btn-primary pull-right" type="button" ui-sref="app.publication">
          All Publications
        </button>
      </div>
      <!-- Publication Details -->
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-push-8">
          <!-- Image on the right of Details but top for small screens -->
          <img class="img-responsive" ng-src="../images/{{pub.image}}" alt="{{pub.title}}">
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-pull-4">
          <div class="page-header">
            <h1>{{pub.title}}<span class="label label-danger label-xs">{{pub.label}}</span></h1>
            <p>{{pub.author}} <span class="pull-right">{{pub.price | currency:"NT$ ":0}}</span></p>
          </div>
          <p>{{pub.detail}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
