<div class="container">
  <!-- Breadcrumb -->
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Publication</li>
      </ul>
    </div>
  </div>
  <!-- Publication -->
  <div class="row row-content">
    <div class="col-xs-12" ng-if="!showPub">
      <h3>{{message}}</h3>
    </div>
    <div class="col-xs-12" ng-if="showPub">
      <!-- Show/Hide Detail -->
      <button ng-click="toggleDetail()" class="btn btn-xs btn-primary pull-right" type="button">
        {{showDetail ? 'Hide Details':'Show Details'}}
      </button>

      <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="pub in pubs">
          <div class="thumbnail">
            <img ng-src="../images/{{pub.image}}" alt="{{pub.title}}">
            <div class="caption">
              <h3>{{pub.title}}<span class="label label-danger label-xs">{{pub.label}}</span></h3>
              <p>{{pub.author}} <span class="pull-right">{{pub.price | currency:"NT$ ":0}}</span></p>
              <p ng-show="showDetail">{{pub.description}}</p>
              <p><a ui-sref="app.publication.pubdetail({id: pub._id})" class="btn btn-info" role="button">More Info</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
