<div class="ngdialog-message">
  <div>
    <h3>Register</h3>
  </div>
  <div>
    <form ng-submit="doRegister()">
      <div class="form-group">
        <label class="sr-only" for="username">Username</label>
        <input type="text" class="form-control input-sm" id="username" placeholder="Username" ng-model="registration.username">
      </div>
      <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        <input type="password" class="form-control input-sm" id="password" placeholder="Password" ng-model="registration.password">
      </div>
      <div class="form-group">
        <label class="sr-only" for="name">Name</label>
        <input type="text" class="form-control input-sm" id="name" placeholder="Name" ng-model="registration.name">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="registration.rememberMe"> Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-info btn-sm">Register</button>
      <button type="button" class="btn btn-default btn-sm" ng-click="closeThisDialog( 'Cancel')">Cancel</button>
    </form>
  </div>
</div>
